h1 {
    background-color: cornflowerblue;
    margin: 0px;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    padding-left: 5px;
    padding-right: 5px;
    color: darkslategray;
    margin-bottom: 8px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.city-input {
    color: darkslategray;
    background-color: white;
    width: 200px;
    height: 35px;
    border-radius: 5px;
}

.city-button {
    background-color: cornflowerblue;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bolder;
    height: 35px;
    width: 35px;
    color: white
}

.dayOne, .dayTwo, .dayThree, .dayFour, .dayFive {
    background-color: cornflowerblue;
    height: 200px;
    width: 200px;
    margin: 10px;
    float: left;
    border-radius: 5px;

}